.sidebar {
  width: 240px;
  min-height: 1188px;
}

.sidebar__logo {
  padding-top: 49.51px;
  padding-left: 38.79px;
}

.sidebar__adminbox {
  display: flex;
  align-items: center;
  margin-top: 24.22px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  padding-left: 16px;
  background: #fafafa;
  border-radius: 8px;
}

.sidebar__adminbox-infobox {
  margin-left: 12px;
}

.sidebar__navbox {
  margin-top: 24px;
}

.sidebar__nav {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 24px;
  padding-left: 19.5px;
  height: 40px;
  margin-bottom: 18.5px;
  transition: 0.3s;
  text-decoration: none;
  color: inherit;
}

.toggle__nav {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 24px;
  padding-left: 19.5px;
  height: 40px;
  margin-bottom: 18.5px;
  transition: 0.3s;
  background: #f95d44;
  border-radius: 8px;
}

.active {
  background: #f95d44;
  border-radius: 8px;
}

.sidbar__nav-icon {
  margin-right: 14.13px;
}

.sidbar__nav-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.004em;
}

.sidbar__nav-directionBox {
  width: 22px;
  height: 22px;
  background: #f4f5f7;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.sidbar__nav-direction {
  cursor: pointer;
  transition: 0.3s;
}

.toggle {
  transform: rotate(-90deg);
}
