*,
::after,
::before {
  margin: 0;
  padding: 0;
  boxsizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1e1e1e;
}

h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #474f54;
}

.databox-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: #1e1e1e;
}

@media (max-width: 1063px) {
  .topnav__inputbox {
    max-width: 300px !important;
  }
}

/* @media (max-width: 14300px) {

  .capital {
    width: 1200px;
  }
  
  
  .capital__right {
    width: 1000px;
    padding-left: 50px;
    padding-right: 47px;
    border: 1px solid red;
  }

  .topnav {
   width: 50%;
  }

  .databox {
    flex-direction: column;
    align-items: center;
  }

  .searchtable {
    width: 50%;
  }

  .capitaltable {
    width: 50%;
  }
} */
