*,
::after,
::before {
  margin: 0;
  padding: 0;
  boxsizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1e1e1e;
}

h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #474f54;
}

.databox-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: #1e1e1e;
}

